<h1> Enter a coordinate to fire at </h1>
<form action='/game/fire' method='post'>
  <input text="text" name="coordinate">
  <input type="submit" value="take shot">
</form>

<pre><%= @own_board %></pre>
<pre><%= @opponent_board %></pre>
