<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>A Sinatra app to access Google+</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="RubyLearning.org" />
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">
    <div class="jumbotron">

      <div class="form-signin">
        <div><a href="/"><img src = "/assets/img/battleship.png"></a></div>
        <%= yield %>
      </div>

    </div>
  </div>

  </body>
</html>
