<h1> <%= @message %> </h1>
<h1> <%= @player %> </h1>

<form action='/game/place-ship' method="post">
  <input text='text' name='coordinate'>
  <input type='radio' name='orientation' value="horizontally" id = "horizontally" checked> Horizontally
  <input type='radio' name='orientation' value="vertically" id = "vertically">Vertically
  <input type="submit" value="place ship">
</form>

<pre><%= @own_board %></pre>

<br>

<a href='/game/fire'>Shoot ships</a>
