<%= @message %>
<h3> <%= @player %> </h3>


<form action='/game/place-ship' method="post" class="form-horizontal">
  <div class="form-group">
  <input text='text' name='coordinate' class="form-control">

  <input type='radio' name='orientation' value="horizontally" id = "horizontally" checked> Horizontally
  <input type='radio' name='orientation' value="vertically" id = "vertically">Vertically
  <button type="submit" value="place ship" class="btn btn-default">Submit</button>
</div>
</form>

<pre><%= @own_board %></pre>

<br>

<a href='/game/fire'>Shoot ships</a>
